<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kevin.facade.user.dao.PmsUserDao">

    <sql id="pms_user">pms_user</sql>

    <resultMap id="beanMap" type="pmsUser">
        <id column="id" property="id"/>
        <result column="version" property="version"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="username"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="email" property="email"/>
        <result column="mobile_no" property="mobileNo"/>
    </resultMap>

    <insert id="insert" parameterType="pmsUser" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="pms_user"/>
        (version, create_time, user_name, user_pwd, email, mobile_no)
        VALUES
        (0, NOW(), #{username}, #{userPwd}, #{email}, #{mobileNo})
    </insert>

    <insert id="batchInsert" parameterType="list" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="pms_user"/>
        (version, create_time, user_name,user_pwd, email, mobile_no)
        VALUES
        <foreach collection="list" index="index" item="item" open="" close="" separator=",">
            (0, NOW(), #{item.username}, #{item.userPwd}, #{item.email}, #{item.mobileNo})
        </foreach>
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM
        <include refid="pms_user"/>
        WHERE id = #{id}
    </delete>

    <delete id="batchDeleteById" parameterType="list">
        DELETE FROM
        <include refid="pms_user"/>
        WHERE id IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="pmsUser">
        UPDATE
        <include refid="pms_user"/>
        <set>
            version = #{version}+1,
            user_name = #{username},
            user_pwd = #{userPwd},
            email = #{email},
            mobile_no = #{mobileNo}
        </set>
        <where>
            id = #{item.id} AND version = #{item.version}
        </where>
    </update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" index="index" item="item" open="" close="" separator=";">
            UPDATE
            <include refid="pms_user"/>
            <set>
                version = #{item.version}+1,
                user_name = #{item.username},
                user_pwd = #{item.userPwd},
                email = #{item.email},
                mobile_no = #{item.mobileNo}
            </set>
            <where>
                id = #{item.id} AND version = #{item.version}
            </where>
        </foreach>
    </update>

    <select id="getById" parameterType="long" resultMap="beanMap">
        SELECT * FROM
        <include refid="pms_user"/>
        WHERE id = #{id}
    </select>

    <select id="getByUsername" parameterType="string" resultMap="beanMap">
        SELECT * FROM
        <include refid="pms_user"/>
        WHERE user_name=#{username, javaType=string}
    </select>

    <select id="listAll" resultMap="beanMap">
        SELECT * FROM
        <include refid="pms_user"/> ORDER BY id
    </select>

    <sql id="condition_sql">
        <if test="username != null and username != ''">user_name LIKE CONCAT('%', #{username}, '%')</if>
    </sql>

    <select id="listPage" parameterType="map" resultMap="beanMap">
        SELECT * FROM
        <include refid="pms_user"/>
        <where>
            <include refid="condition_sql"/>
        </where>
        ORDER BY id
        limit #{pageFirst}, #{pageSize}
    </select>

    <select id="listPageCount" parameterType="map" resultType="long">
        SELECT count(1) FROM
        <include refid="pms_user"/>
        <where>
            <include refid="condition_sql"/>
        </where>
    </select>
</mapper>